@charset "UTF-8";

* {
    text-align: center;
}

body {
    /*background-image: linear-gradient(to bottom,#83e6e2, #629b99);*/
    background-image: linear-gradient(to bottom, #7eb9f2, #6da7d6);
    font-family: sans-serif;
}

header {
    background-color: #cbeeed;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    min-width: 320px;
    max-width: 990px;
 
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 30px;
    padding-left: 7px;

    box-shadow: 5px 5px 7px #00000073;

    margin: auto;
}

main {
    background-color: #cbeeed;
   
    min-width: 320px;
    max-width: 990px;
    
    box-shadow: 5px 5px 7px #00000073;

    padding: 7px;
    margin: auto;
}


footer {
    background-color: #cbeeed;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    min-width: 320px;
    max-width: 990px;

    box-shadow: 5px 5px 7px #00000073;

    padding: 7px;
    margin: auto;
}


h2 {
    color: #312c36;
    text-align: left;
    text-decoration: underline;
}

p {
    text-align: justify;
    font-size: 1.2em;
    font-weight: bold;
    text-indent: 40px;
}

div.video {
    margin: 0px -20px -30px -20px;
    padding: 20px;
    padding-bottom: 56.25%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
}

li {
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

