* {
    font-family: sans-serif;
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

body {
    background-image: linear-gradient(to bottom,#83e6e2, #629b99);
}

main {
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 7px 7px 14px #023549DD;
    min-width: 320px;
    max-width: 990px;
    padding: 7px;
    margin: auto;
}

h2 {
    color: #63596B;
    text-align: left;
}

div.video {
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.25%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
}

li {
    text-align: left;
}
