@charset "UTF-8";

:root {
    --color1: #7eb9f2;
    --color2: #6da7d6;
    --shadow: #00000073;
    --standart-font: sans-serif;
}

body {
    /*cor anterior ==
    background-image: linear-gradient(to bottom,#83e6e2, #629b99);*/
    
    background-image: linear-gradient(to bottom, var(--color1), var(--color2));
    font-family: sans-serif;
}

body h2 {
    color: #312c36;
    text-align: left;
    text-decoration: underline;
}

body p {
    text-align: justify;
    font-size: 1.2em;
    font-weight: bold;
    text-indent: 40px;
}

body a {
    text-decoration: none;
}

body a:hover {
    color: #000000e7;
    text-decoration: underline;
}

header {
    background-color: #ffffff;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    min-width: 320px;
    max-width: 990px;
 
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 30px;
    padding-left: 7px;

    box-shadow: 5px 5px 7px var(--shadow);

    margin: auto;
}

header h1 {
    text-align: center;
}

main {
    background-color: #ffffff;
   
    min-width: 320px;
    max-width: 990px;
    
    box-shadow: 5px 6px 7px var(--shadow);

    padding: 7px;
    margin: auto;
}

main img {
    display: block;
    margin: auto;
}

footer {
    background-color: #ffffff;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    min-width: 320px;
    max-width: 990px;

    box-shadow: 5px 6px 7px var(--shadow);

    padding: 7px;
    margin: auto;
}

div.video {
    margin: 0px -20px -30px -20px;
    padding: 20px;
    padding-bottom: 56.25%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
}



